
.busqueda_mapa{
    display: flex;
    justify-content: space-around;
}
.busqueda_mapa p{
    width: 50%;
}
.busqueda_mapa input{
    width: 95%;
    margin: auto;
}


#mapamundi{
    height: 500px;
    border-radius: 15px;
    z-index: 0;
}

