
.busqueda_mapa{
    display: flex;
    justify-content: space-around;
}
.busqueda_mapa p{
    width: 50%;
}
.busqueda_mapa input{
    width: 95%;
    margin: auto;
}


.ui-menu-item div{
    background-color: red;
}

#ui-id-1 li{
    height: 500px;
    background-color: red;
}

.ui-menu-item-wrapper{
    height: 300px;
}

.lista_autocomplete li{
    list-style: none;
    border: 10px solid black;
    background-color: red;
}