<p>map works!</p>


<div class="busqueda_mapa">
    <p>
        <label for="pais">Pais:</label><br>
        <input class="input_busqueda " type="text" name="pais" id="pais_buscado"/><br>
    </p>
    <p>
        <label for="coordenadas">Coordenadas:</label><br>
        <input type="text" name="coordenadas" id="ubi_buscada"/>
    </p>
</div>

<div class="botones_mapa">
    <a><input id="buscar" class="boton" type="button" value="BUSCAR"></a>
    <a><input id="ubiActual" class="boton" type="button" value="UBICACION ACTUAL"></a>
</div>

<br>
