<div class="entrada">
    <img src="../../../../assets/img/iconos/man-user.png">
    <input class="inputtext" type="text" name="nombre" placeholder=" Nombre..."><br>
</div>
<div class="entrada">
    <img src="../../../../assets/img/iconos/man-user.png">
    <input class="inputtext" type="text" name="apellidos" placeholder=" Apellidos..."><br>
</div>
<div class="entrada">
    <img src="../../../../assets/img/iconos/envelope.png">
    <input class="inputtext" type="text" name="email" placeholder=" Email..."><br>
</div>
<div class="entrada">
    <img src="../../../../assets/img/iconos/locked-padlock.png">
    <input class="inputtext" type="text" name="password" placeholder=" Contraseña..."><br>
</div>
<div class="entrada">
    <img src="../../../../assets/img/iconos/earth.png">
    <input class="inputtext" type="text" name="paisorigen" placeholder=" País de Origen..."><br>
</div>